/workshop/unit 1/WSO3/BasicOperations/nbproject/private/
/workshop/unit 1/WSO3operations/BasicOperations/nbproject/private/
/workshop/unit 1/WSO3operations/BasicOperations/build/
/workshop 03 operation/unit 1/WS03/Basic Operation/nbproject/private/
/workshop 03 operation/unit 1/WS03/Basic Operation/build/
/workshop 03 operator/unit 1/WS03/Basic Operation/build/
/workshop 03 operator/unit 1/WS03/Basic Operation/nbproject/private/