/workshop/unit 1/WSO3/BasicOperations/nbproject/private/
/workshop/unit 1/WSO3operations/BasicOperations/nbproject/private/
/workshop/unit 1/WSO3operations/BasicOperations/build/
/workshop 03 operation/unit 1/WS03/Basic Operation/nbproject/private/
/workshop 03 operation/unit 1/WS03/Basic Operation/build/
/workshop 03 operator/unit 1/WS03/Basic Operation/build/
/workshop 03 operator/unit 1/WS03/Basic Operation/nbproject/private/
/Unit 1/Assignments/HW02/INT/nbproject/private/
/Unit 1/Assignments/HW02/INT/build/
/Unit 1/Assignments/HW02/perimetrocuadrado/nbproject/private/
/Unit 1/Assignments/HW02/perimetrocuadrado/build/
/Unit 1/Assignments/HW02/perimetrocuadradofloat/nbproject/private/
/Unit 1/Assignments/HW02/perimetrocuadradofloat/build/
/Unit 1/Assignments/HW02/perimetrocuadradoint/nbproject/private/
/Unit 1/Assignments/HW02/perimetrocuadradoint/build/
/Unit 1/Assignments/HW02/perimetrocuadradadoshort/nbproject/private/
/Unit 1/Assignments/HW02/perimetrocuadradadoshort/build/
/Unit 1/Assignments/HW02/perimetrocuadradadoint/build/
/Unit 1/Assignments/HW02/perimetrocuadradadoint/nbproject/private/
/Unit 1/Assignments/HW02/perimetrocuadradoshort/build/
/Unit 1/Assignments/HW02/perimetrocuadradoshort/nbproject/private/
/Unit 1/Assignments/HW02/perimetrocuadrado1/nbproject/private/
/Unit 1/Assignments/HW02/perimetrocuadrado1/build/
/Unit 1/Assignments/HW02/perimetrojavafloat/nbproject/private/
/Unit 1/Assignments/HW02/perimetrojavafloat/build/
/Unit 1/Assignments/HW02/HW01SquarePerimetro/nbproject/private/
/Unit 1/Assignments/HW02/HW01SquarePerimetro/build/
/Unit 1/Assignments/HW02/HWS01SquarePerimetro/nbproject/private/
/Unit 1/Assignments/HW02/HWS01SquarePerimetro/build/
/Unit 1/Assignments/HW02/HW02SquarePerimetro/nbproject/private/
/Unit 1/Assignments/HW02/HW02SquarePerimetro/build/
/Unit 1/Assignments/HW02/WS04 LogicalOperators/nbproject/private/
/Unit 1/Workshops/WS04-Logical Operations/nbproject/private/
/Unit 1/Workshops/WS04-Logical Operations/build/
/Unit 1/Workshops/WS05Iterations/nbproject/private/
/Unit 1/Workshops/WS05Iterations/build/
/Unit 1/Assignments/HW03/nbproject/private/
/Unit 1/Assignments/HW03/build/
/Unit 1/Assignments/HW04Iterations/nbproject/private/
/Unit 1/Assignments/HW04Iterations/build/
/Unit 1/Assignments/HW03Iterations/nbproject/private/
/Unit 1/Assignments/HW03Iterations/build/
/Workshops/Unit 1/WS07Menus/nbproject/private/
/Workshops/Unit 1/WS07Menus/build/
/Assignments/HW03Iterations/HW04Menus/nbproject/private/
/Assignments/HW03Iterations/HW04Menus/build/
/Assignments/HW04Menus/nbproject/private/
/Assignments/HW04Menus/build/
/Workshops/Unit 1/WS07Menus/dist/
/Assignments/Quishpe Sandy Q11/nbproject/private/
/Examns/Unit1/Quishpe Sandy Q11/nbproject/private/
/Examns/Unit1/Quishpe Sandy Q11/build/